* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerNav {
  padding: 7px 16px;
  border: 2px solid black;
  box-shadow: 0px 5px 15px rgb(179, 213, 226);
}

.menu {
  padding: 5px;
  border-radius: 25%;
  background-color: rgb(249, 250, 251);
}

.navSide {
  background-color: #bbcad4;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  transform: translateX(-250px);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.navSide ul {
  list-style: none;
}

.navSide li {
  margin-bottom: 10px;

  padding: 5px 10px;
  margin-top: 16px;
}

.navSide li button {
  border: none;
  background-color: transparent;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  text-align: start;
}

.close {
  border-radius: 50%;
  align-self: flex-end;
  height: 25px;
  width: 25px;
}
.subList {
  display: none;
}

.subList li {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 8px;
  width: 70%;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.active {
  transform: translateX(0);
}
